@font-face {
  font-family: 'germania_oneregular';
  src: url('assets/fonts/germaniaone-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/germaniaone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreyablack';
  src: url('assets/fonts/alegreya-black-webfont.woff2') format('woff2'),
       url('assets/fonts/alegreya-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreyablack_italic';
  src: url('assets/fonts/alegreya-blackitalic-webfont.woff2') format('woff2'),
       url('assets/fonts/alegreya-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreyabold';
  src: url('assets/fonts/alegreya-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/alegreya-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreyabold_italic';
  src: url('assets/fonts/alegreya-bolditalic-webfont.woff2') format('woff2'),
       url('assets/fonts/alegreya-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreyaitalic';
  src: url('assets/fonts/alegreya-italic-webfont.woff2') format('woff2'),
       url('assets/fonts/alegreya-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreyaregular';
  src: url('assets/fonts/alegreya-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/alegreya-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreya_scblack';
  src: url('assets/fonts/alegreyasc-black-webfont.woff2') format('woff2'),
       url('assets/fonts/alegreyasc-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreya_scblack_italic';
  src: url('assets/fonts/alegreyasc-blackitalic-webfont.woff2') format('woff2'),
       url('assets/fonts/alegreyasc-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreya_scbold';
  src: url('assets/fonts/alegreyasc-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/alegreyasc-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreya_scbold_italic';
  src: url('assets/fonts/alegreyasc-bolditalic-webfont.woff2') format('woff2'),
       url('assets/fonts/alegreyasc-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreya_scitalic';
  src: url('assets/fonts/alegreyasc-italic-webfont.woff2') format('woff2'),
       url('assets/fonts/alegreyasc-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreya_scregular';
  src: url('assets/fonts/alegreyasc-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/alegreyasc-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
    font-family: 'pointedly_madregular';
    src: url('assets/fonts/pointedlymad-webfont.woff2') format('woff2'),
         url('assets/fonts/pointedlymad-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blackmoon_questitalic';
    src: url('assets/fonts/blackmoonquestitalic-mlpjx-webfont.woff2') format('woff2'),
         url('assets/fonts/blackmoonquestitalic-mlpjx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'blackmoon_questregular';
    src: url('assets/fonts/blackmoonquest-pkq5g-webfont.woff2') format('woff2'),
         url('assets/fonts/blackmoonquest-pkq5g-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Raleway Webfont";
    src: url('assets/fonts/raleway-thin.eot');
    src: url('assets/fonts/raleway-thin.eot?#iefix') format('embedded-opentype'), url('assets/fonts/raleway-thin.woff') format('woff'), url('assets/fonts/raleway-thin.ttf') format('truetype'), url('assets/fonts/raleway-thin.svg#ralewaythin') format('svg');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: "Raleway Webfont";
    src: url('assets/fonts/raleway-extralight.eot');
    src: url('assets/fonts/raleway-extralight.eot?#iefix') format('embedded-opentype'), url('assets/fonts/raleway-extralight.woff') format('woff'), url('assets/fonts/raleway-extralight.ttf') format('truetype'), url('assets/fonts/raleway-extralight.svg#ralewayextralight') format('svg');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: "Raleway Webfont";
    src: url('assets/fonts/raleway-light.eot');
    src: url('assets/fonts/raleway-light.eot?#iefix') format('embedded-opentype'), url('assets/fonts/raleway-light.woff') format('woff'), url('assets/fonts/raleway-light.ttf') format('truetype'), url('assets/fonts/raleway-light.svg#ralewaylight') format('svg');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Raleway Webfont";
    src: url('assets/fonts/raleway-regular.eot');
    src: url('assets/fonts/raleway-regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/raleway-regular.woff') format('woff'), url('assets/fonts/raleway-regular.ttf') format('truetype'), url('assets/fonts/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Raleway Webfont";
    src: url('assets/fonts/raleway-medium.eot');
    src: url('assets/fonts/raleway-medium.eot?#iefix') format('embedded-opentype'), url('assets/fonts/raleway-medium.woff') format('woff'), url('assets/fonts/raleway-medium.ttf') format('truetype'), url('assets/fonts/raleway-medium.svg#ralewaymedium') format('svg');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Raleway Webfont";
    src: url('assets/fonts/raleway-semibold.eot');
    src: url('assets/fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/raleway-semibold.woff') format('woff'), url('assets/fonts/raleway-semibold.ttf') format('truetype'), url('assets/fonts/raleway-semibold.svg#ralewaysemibold') format('svg');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Raleway Webfont";
    src: url('assets/fonts/raleway-bold.eot');
    src: url('assets/fonts/raleway-bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/raleway-bold.woff') format('woff'), url('assets/fonts/raleway-bold.ttf') format('truetype'), url('assets/fonts/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Raleway Webfont";
    src: url('assets/fonts/raleway-extrabold.eot');
    src: url('assets/fonts/raleway-extrabold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/raleway-extrabold.woff') format('woff'), url('assets/fonts/raleway-extrabold.ttf') format('truetype'), url('assets/fonts/raleway-extrabold.svg#ralewayextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: "Raleway Webfont";
    src: url('assets/fonts/raleway-heavy.eot');
    src: url('assets/fonts/raleway-heavy.eot?#iefix') format('embedded-opentype'), url('assets/fonts/raleway-heavy.woff') format('woff'), url('assets/fonts/raleway-heavy.ttf') format('truetype'), url('assets/fonts/raleway-heavy.svg#ralewayheavy') format('svg');
    font-weight: 900;
    font-style: normal;
  }
  